.container {
  width: 88rem;
  margin: 0 auto;
  margin-top: 24vh;
  margin-bottom: 10rem;
  display: flex;
}

.left {
  justify-content: end;
  padding-right: 10rem;
  align-items: center;
  width: 50%;
  border-right: 1px solid #777777;
}

.poster {
  width: 34rem;
  height: 44rem;
  position: relative;
  overflow: hidden;
}

.poster img {
  width: 100%;
  position: absolute;
}

.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10rem;
}

.tag {
  margin-bottom: 5rem;
}

.tag span {
  font-size: 1.2rem;
  margin-right: 1rem;
  padding: 0.4rem 1rem;
  border-radius: 5px;
  background-color: #eeeeee;
}

.right h2 {
  font-size: 2.6rem;
  line-height: 4rem;
  margin-bottom: 2rem;
  word-break: keep-all;
  overflow-wrap: break-word;
}

.right h4 {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-bottom: 1rem;
}

.button {
  border: 1px solid #777777;
  font-size: 1.6rem;
  padding: 0.6rem 1.4rem;
  text-align: center;
  margin-top: 6rem;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 70rem;
    margin-top: 15vh;
  }

  .left {
    border-right: none;
  }

  .right {
    padding-left: 5rem;
  }
}

@media (max-width: 767px) {
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 15vh;
    margin-bottom: 4rem;
    padding-left: 10%;
    padding-right: 10%;
  }

  .left {
    justify-content: end;
    padding-right: 0;
    align-items: center;
    width: 100%;
    border-right: none;
    margin-bottom: 4rem;
  }

  .poster {
    width: 100%;
    height: 39rem;
  }

  .poster img {
    top: -1.6rem;
  }

  .right {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
  }

  .tag {
    margin-bottom: 3rem;
  }
}
