.container {
  cursor: pointer;
  width: 32rem;
  margin: auto;
  margin-bottom: 10rem;
}

.container h4 {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.8rem;
  line-height: 3.4rem;
  margin-bottom: 1rem;
  padding: 0 1rem;
  padding-bottom: 1rem;
  word-break: keep-all;
  overflow-wrap: break-word;
  width: 100%;
  height: 7rem;
  border-bottom: 1px solid #adadac;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.container p {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.6rem;
  line-height: 1.8rem;
  padding: 0 1rem;
}

.poster {
  width: 32rem;
  height: auto;
  min-height: 40rem;
  position: relative;
  margin-bottom: 1.6rem;
  overflow: hidden;
  transition: all 0.2s ease-out;
  background: #ffffff;
  border: 1px solid #999999;
}

.poster img {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 4%;
  background: #ffffff;
}

.poster:hover {
  opacity: 60%;
}

@media (min-width: 1800px) and (max-width: 4000px) {
}

@media (min-width: 1200px) and (max-width: 1799px) {
}

@media (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 94%;
  }

  .poster {
    width: 100%;
    position: relative;
    margin-bottom: 1.6rem;
    overflow: hidden;
  }
}

@media (max-width: 767px) {
  .container {
    width: 100%;
  }

  .container h4 {
    height: auto;
  }

  .poster {
    width: 100%;
    position: relative;
    margin-bottom: 1.6rem;
    overflow: hidden;
  }
}
