.container {
  width: 120rem;
  padding-left: 4rem;
  margin-bottom: 4rem;
}

.noContent {
  height: 30rem;
  padding-top: 10rem;
  font-size: 1.6rem;
  color: #c6c6c6;
  text-align: center;
}

@media (min-width: 1800px) and (max-width: 4000px) {
  .noContent {
    height: 50rem;
    padding-top: 20rem;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .noContent {
    height: 38rem;
  }
}

@media (max-width: 767px) {
  .container {
    width: 100%;
    margin-top: -2rem;
    padding: 0 10%;
  }
  .noContent {
    height: 16rem;
    padding-top: 5rem;
  }
}
