.section {
  display: flex;
  align-items: center;
  height: 50rem;
  margin-bottom: 10rem;
  background-color: #ede9e1;
  border-top: 2px solid #555555;
  border-bottom: 2px solid #555555;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10%;
}

.content {
  width: 36%;
  min-width: 41rem;
  margin-right: 4%;
}

.content h2 {
  font-size: 3.8rem;
  line-height: 5rem;
  border-bottom: 1px solid #333333;
  padding-bottom: 1.6rem;
  margin-bottom: 3rem;
}

.content p {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.6rem;
  line-height: 3rem;
}

.youTube {
  width: 660px;
  height: 371px;
  background-color: #fff;
}

@media (min-width: 1800px) and (max-width: 4000px) {
  .content h2 {
    font-size: 4.4rem;
    line-height: 6rem;
  }

  .youTube {
    width: 818px;
    height: 460px;
    background-color: #fff;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .section {
    align-items: center;
    background-color: #ede9e1;
    height: 74rem;
    margin-bottom: 8rem;
  }

  .container {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: initial;
  }

  .content h2 {
    font-size: 3.8rem;
    line-height: 5.4rem;
  }

  .content {
    width: 100%;
    min-width: 20rem;
    margin-top: 3rem;
    text-align: center;
  }

  .youTube {
    width: 100%;
    background-color: #fff;
  }
}

@media (max-width: 767px) {
  .section {
    align-items: center;
    background-color: #ede9e1;
    height: 62rem;
  }

  .container {
    align-items: initial;
    margin: 0;
    flex-direction: column-reverse;
  }

  .content {
    width: 100%;
    min-width: 20rem;
    margin: 0;
    margin-top: 5rem;
    margin-bottom: 10rem;
    text-align: center;
  }

  .content h2 {
    font-size: 3rem;
    line-height: 4.6rem;
  }

  .content p {
    font-size: 1.5rem;
    line-height: 2.8rem;
  }

  .youTube {
    width: 100%;
    background-color: #fff;
  }
}
