.container {
  margin-bottom: 8rem;
  margin-top: 15vh;
}

.count {
  width: 100%;
  height: 18rem;
  margin: auto;
  margin-bottom: 6rem;
  font-size: 1.8rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ede9e1;
  border-bottom: 2px solid #555555;
}

.noList {
  height: 24rem;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .container {
    margin-top: 10vh;
  }
}

@media (max-width: 767px) {
  .container {
    margin-top: 10vh;
  }
}
