.container {
  margin-bottom: 8rem;
}

.count {
  width: 100%;
  height: 18rem;
  margin: auto;
  margin-bottom: 6rem;
  font-size: 1.8rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ede9e1;
}

.noList {
  height: 24rem;
}
